<% if @user_profile.errors.any? %>
  <% @user_profile.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
    <p><%= message %></p>
    </div>
  <% end %>
<% end %>

<%= form_with(model: @user_profile, local: true) do |f| %>
  <%= f.label :avatar, 'Foto de perfil' %>
  <%= f.file_field :avatar %>
  <%= f.label :name, 'Nome completo' %>
  <%= f.text_field :name %>
  <%= f.label :social_name, 'Nome social' %>
  <%= f.text_field :social_name %>
  <%= f.label :date_of_birth, 'Data de nascimento' %>
  <%= f.date_field :date_of_birth %>
  <%= f.label :schooling, 'Formação' %>
  <%= f.text_field :schooling %>
  <%= f.label :description, 'Descrição' %>
  <%= f.text_field :description %>
  <%= f.label :experience, 'Experiencia' %>
  <%= f.text_field :experience %>
  <%= f.submit 'Salvar' %>
<% end %>