<% if @opportunity.errors.any? %>
  <% @opportunity.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
    <p><%= message %></p>
    </div>
  <% end %>
<% end %>

<%= form_with(model: [@job, @opportunity], local: true) do |f| %>
  <%= f.label :text,'Fale de você' %>
  <%= f.text_field :text %>
  <%= f.submit 'Finalizar' %>
<% end %>