<!DOCTYPE html>
<html>
  <head>
    <title>TreinaJobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%if user_signed_in?%>
        <%= link_to  "Sair", destroy_user_session_path, method: :delete %>
      <%else%>
        <%= link_to  "Entrar", new_user_session_path %>
        <%= link_to  "Registrar", new_user_registration_path %>
      <%end%>
    </nav>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
